<div class="fixed-top wrapper">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column"> 
        <header class="masthead mb-auto">
        <div class="inner">
            <div class="logo-wrapper">
                <a routerLink='/home'><img src="assets/logo.png" alt="Logo Together Jam" width="170px" height="40px"></a>
            </div>
            <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" routerLink='/home' routerLinkActive="active">Home</a>
            <a class="nav-link" routerLink='/about' routerLinkActive="active">Das Event</a>
            <a class="nav-link" routerLink='/gallerie' routerLinkActive="active">Gallerie</a>
            <a class="nav-link" routerLink='/register' routerLinkActive="active">Anmelden</a>
            </nav>
        </div>
        </header>
    </div>
</div>