<div class="container">
<div class="row pl-3 pr-3">
    <h1>Das Event</h1>
    <p class="lead">Together 2021 ist die größte Street Art und Graffiti Veranstaltung, die es in Wels jemals gegeben hat. Ein internationales Teilnehmerfeld aus Künstler/Innen gestaltet an drei Tagen die Flächen im Schlachthof Wels und bei Möglichkeit umliegende Wände. Rund um die Veranstaltung wird ein umfangreiches Rahmenprogramm angeboten, welches unter anderem einen Graffitiworkshop, Zeichenworkshop und Aufklärung beinhaltet.</p>
    <iframe
    src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe> 
    <p>Ziel des Projektes ist es den Schlachthof wieder zu beleben, das Angebot zu nutzen sich dort
        künstlerisch ausleben zu können, sowie ein Zeichen gegen Rassismus zu setzen und jegliche
        Differenzen, sei es Kultur, Religion oder auch in der Szene, beizulegen.</p>

    <p>Gemeinsam eine schöne Zeit zu haben, in der wir gemeinsam etwas Neues erschaffen, steht
        bei diesem Konzept im Vordergrund. Auch das Image urbaner Kunst im öffentlichen Raum zu
        stärken und es noch Außenstehenden näher zu bringen, ist uns hierbei ein Anliegen.</p>

    <p>Der Mehrwert der Veranstaltung besteht darin, dass Künstler/Innen, der Stadt und ihren
        Anwohner/Innen mittels urbaner Kunstformen die Möglichkeit geboten wird, in einen
        gemeinsamen Dialog zu treten. Urbane Kunst bietet genau diese Chance, unabhängig von
        Alter, Herkunft, Geschlecht, Religion, Sprache und sozialem Hintergrund.</p>

    <p>„together“ versteht sich als eine inklusive und offene Veranstaltung, die sich an eine breite
        Öffentlichkeit richtet und keine parteipolitische Agenda verfolgt. Wir wollen Wels und den
        Schlachthof bunter gestalten und es geht uns dabei um mehr, als graue Wände mit Kunst zu
        beleben. Auch der Diskurs, der überregionale Austausch und natürlich die Freude an der
        gelebten Kultur soll nicht zu kurz kommen.</p>
    <a routerLink="/register" class="btn btn-primary">Jetzt anmelden</a>
</div>
