<div class="section-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img alt="logo" width="150x" height="100px" class="d-inline-block shadow-lg mb-20 mt-20 rounded" />
                <img alt="logo" width="150x" height="100px" class="d-inline-block shadow-lg mb-20 mt-20 rounded" />
                <img alt="logo" width="150x" height="100px" class="d-inline-block shadow-lg mb-20 mt-20 rounded" />
                <img alt="logo" width="150x" height="100px" class="d-inline-block shadow-lg mb-20 mt-20 rounded" />
                <img alt="logo" width="150x" height="100px" class="d-inline-block shadow-lg mb-20 mt-20 rounded" />
                <img alt="logo" width="150x" height="100px" class="d-inline-block shadow-lg mb-20 mt-20 rounded" />
                <img alt="logo" width="150x" height="100px" class="d-inline-block shadow-lg mb-20 mt-20 rounded" />


            </div>
            <div class="col-md-4">
                <h2>blablallba Partner</h2>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
            </div>
            
        </div>
    </div>
</div>

