<div class="section-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>Kontaktiere uns</h2>
                <p>Falls du fragen bezüglich des Events hast oder uns beauftragen möchtest, kontaktiere uns.</p>
            </div>
            <div class="col-md-7">
                <div *ngIf="mailSent==='success' else mailError">
                    <div class="alert alert-success" role="alter">
                        Dein anliegen wurde erfolgreich an uns versendet. Bitte kontrolliere deine Mails (auch im Spam Ordner). Falls du keine Mail erhalten hast kontaktiere bitte 'togetherjam@gmail.com'.
                    </div>
                </div>
                <form role="form" (ngSubmit)="sendRequest()" #form="ngForm">
                    <!-- Name -->
                    <div class="form-group label-floating">
                    <label class="control-label" for="name">Name *</label>
                    <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name" [(ngModel)]="mail.name">
                    <div class="help-block with-errors"></div>
                    </div>
                    <!-- email -->
                    <div class="form-group label-floating">
                    <label class="control-label" for="email">Email *</label>
                    <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email" [(ngModel)]="mail.email">
                    <div class="help-block with-errors"></div>
                    </div>
                    <!-- Subject -->
                    <div class="form-group label-floating">
                    <label class="control-label">Subject *</label>
                    <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject" [(ngModel)]="mail.subject">
                    <div class="help-block with-errors"></div>
                    </div>
                    <!-- Message -->
                    <div class="form-group label-floating">
                        <label for="message" class="control-label">Message *</label>
                        <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message" [(ngModel)]="mail.message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Form Submit -->
                    <button class="btn btn-primary" type="submit" id="form-submit" [disabled]="!form.valid">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #mailError>
<div *ngIf="mailSent==='error'" class="alert alert-danger" role="alter">
    Deine Anfrage konnte nicht versendet werden bitte versuche es erneut oder kontaktiere 'togetherjam@gmail.com'
</div>
</ng-template>