<div class="container">
    <div class="row pl-3 pr-3">
        <div class="offset-md-1 col-md-10 shadow-lg rounded pt-3 bgimg">
            <h2>Anmelden</h2>
            <p>Melde dich jetzt für das Together Jam 2021 an</p>
            <form role="form" method="post" id="contactForm" name="contact-form">
                <!-- Name -->
                <div class="form-group label-floating">
                <label class="control-label" for="name">Künstlername *</label>
                <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                <div class="help-block with-errors"></div>
                </div>
                <!-- email -->
                <div class="form-group label-floating">
                <label class="control-label" for="email">Email *</label>
                <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                <div class="help-block with-errors"></div>
                </div>
                <button class="btn btn-primary" type="submit" id="form-submit"> Anmelden</button>
            </form>
        </div>

    </div>
</div>

    